<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>
        Blog
    </title>
</head>

<body>
    <header class="header">
        <div class="header__wrapper">
            <img src="../images/main__image.jpg" alt="main__image" class="header__image">
            <div class="header__content-text">
                <span class="header__title">Осипов Сергей</span>
                <span class="header__desc">Front-end developer</span>
            </div>
            <nav class="header__navigation">
                <div class="header__navigation__items">
                    <a href="#bio" class="header__navigation__item">Кое-что обо мне</a>
                    <a href="#projects" class="header__navigation__item">Кое-что сделал</a>
                </div>
            </nav>
        </div>
    </header>
    <main class="main">
        <article class="main__section" id="bio">
            <section class="main__content">
                <span class="main__title">Кое-что обо мне</span>
                <p class="main__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam quasi dolorum laudantium similique accusantium, asperiores nulla aspernatur excepturi itaque nesciunt repudiandae quaerat minima iure corporis, adipisci fugit ex aliquid.
                    Accusantium!
                </p>
            </section>
        </article>
        <article class="main__section" id="projects">
            <section class="main__content">
                <span class="main__title">Кое-что сделал</span>
                <div id="list_projects"></div>
            </section>

        </article>
    </main>
</body>

</html>