<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>
        Blog
    </title>
</head>

<body>
    <header class="header">
        <div class="header__wrapper">
            <img src="../images/main__image.jpg" alt="main__image" class="header__image">
            <div class="header__content-text">
                <h1 class="header__title">Осипов Сергей</h1>
                <h2 class="header__desc">Front-end developer</h2>
            </div>
            <nav class="header__navigation">
                <div class="header__navigation__items">
                    <a href="#bio" class="header__navigation__item">Кое-что обо мне</a>
                    <a href="#projects" class="header__navigation__item">Кое-что сделал</a>
                </div>
            </nav>
        </div>
    </header>
    <main class="main">
        <article class="main__section" id="bio">
            <h2 class="main__title">Кое-что обо мне</h2>
            <section class="main__content">
                <p class="main__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam quasi dolorum laudantium similique accusantium, asperiores nulla aspernatur excepturi itaque nesciunt repudiandae quaerat minima iure corporis, adipisci fugit ex aliquid.
                    Accusantium!
                </p>
            </section>
        </article>
        <article class="main__section" id="projects">
            <h2 class="main__title">Кое-что сделал</h2>
            <section class="main__content">
                <div id="list_projects"></div>
            </section>
        </article>
    </main>
    <footer class="footer">
        <article class="social" id="social">
            <a href="https://github.com/osipovsergey"><img src="../images/icons/github.svg" alt="github" class="social__icon"></a>
            <a href="https://twitter.com/osipov__s"><img src="../images/icons/twitter.svg" alt="twitter" class="social__icon"></a>
        </article>
        <article class="metric" id="social">
            <span class="metric__text">Какие-либо метрики на сайте отсутствуют.</span>
        </article>
    </footer>
</body>

</html>