@import '../mixins/mixins.less';

.font-face('Raleway-Thin', '../../fonts/static/Raleway-Thin', normal, normal);

.header {
    background-color: @section;
    box-shadow: 0px 0px 11px 0px @shadow;
    padding: 12px 6px;

    &__content {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 12px 0;
        border-bottom: 1px solid @border;
    }

    &__image {
        width: 100px;
        height: 100px;
        padding-bottom: 12px;
    }

    &__title {
        padding-bottom: 6px;
        .font('Raleway-Thin', 24px, normal, normal);
    }

    &__desc {
        display: flex;
        .font('Raleway-Thin', 18px, 200, normal);
    }

    &__navigation {
        padding: 12px 0;

        &__items {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
        }

        &__item {
            margin: 12px 0;
            text-align: center;
            text-decoration: none;
            color: @text-navigation;
            .font('Raleway-Thin', 18px, 200, normal);
        }
    }
}
