@import '../mixins/mixins.less';

.font-face('Raleway-Regular', '../../fonts/static/Raleway-Regular', normal, normal);

@icons: 'html', 'css', 'js', 'vuejs', 'webpack', 'gulp', 'tt', 'bem';

.generate-icons(@array, @name-item, @i: 1) when (@i =< length(@array)) {
    @item: e( extract(@array, @i));

    &_@{item} {
        list-style: none;
        background: url('../../images/icons/technologies/@{item}.svg') no-repeat;
        background-size: contain;
        padding-left: 36px;
    }
    .generate-icons(@array, @name-item, @i + 1);
}

.header {
    background-color: @section;
    box-shadow: 0px 0px 11px 0px @shadow;
    padding: 12px 6px;
    margin-bottom: 24px;
    border-radius: 10px;

    &__wrapper {
        display: flex;
        flex-flow: column wrap;
    }

    &__bio {
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;
    }

    &__bio-image {
        width: 150px;
        height: 150px;
        margin: 12px auto;
        border-radius: 15px;
    }

    &__bio-content {
        display: flex;
        flex-flow: column wrap;
        padding-bottom: 24px;
        margin: 0 auto;
        border-bottom: 1px solid @border;
    }

    &__bio-title {
        padding-bottom: 6px;
        margin: 0 auto;
        .font('Raleway-Regular', 24px, 500, normal);
    }

    &__bio-desc {
        margin: 0 auto;
        .font('Raleway-Regular', 18px, 500, normal);
    }

    &__navigation {
        padding: 12px 0;
    }

    &__navigation-items {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;

        .tablet({
            flex-flow: row wrap;
        });
    }

    &__navigation-item {
        margin: 12px 0;
        text-align: center;
        text-decoration: none;
        color: @text-navigation;
        .font('Raleway-Regular', 18px, 200, normal);

        &:hover {
            text-decoration: underline;
            text-decoration-color: @border;
        }

        .tablet({
            margin: 12px;
        });
    }
}

.main {

    &__section {
        background-color: @section;
        box-shadow: 0px 0px 11px 0px @shadow;
        padding: 12px;
        margin-bottom: 24px;
        border-radius: 10px;
    }

    &__content {
        display: flex;
        flex-flow: column wrap;
    }

    &__title {
        margin: 0 0 24px;
        text-align: center;
        text-decoration: underline;
        .font('Raleway-Regular', 28px, 600, normal);
    }

    &__subtitle {
        margin: 18px 0 12px;
        .font('Raleway-Regular', 24px, bold, normal);
    }

    &__text {
        margin: 0 0 6px;
        .font('Raleway-Regular', 20px, 200, normal);
    }

    &__list {
        display: flex;
        flex-flow: column wrap;
        margin: 0 0 6px;
        padding: 0;

        .tablet({
            flex-flow: row wrap;
            justify-content: space-evenly;
        });
    }

    &__list-item {
        margin: 0 12px 6px 0;

        .generate-icons(@array: @icons, @name-item: icon);
    }

    &__list-item-text {
        .font('Raleway-Thin', 20px, 200, normal);
    }

    &__link {
        color: @text-navigation;
        text-decoration: underline;
        text-decoration-color: @border;
    }
}

.footer {
    display: flex;
    flex-flow: column wrap;

    .tablet({
        flex-flow: row wrap;
        justify-content: space-between;
    });

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        .tablet({
            justify-content: space-between;
        });
    }

    &__social {
        display: flex;
        margin-bottom: 12px;
        justify-content: center;

        .tablet({
            margin-bottom: 0;
        });
    }

    &__social-link {
        margin-right: 18px;

        &:nth-child(1) {
            margin-left: 18px;

            .tablet({
                margin-left: 0;
            });
        }
    }

    &__social-icon {
        width: 50px;
        height: 50px;
    }

    &__metric {
        display: flex;
        margin-bottom: 12px;
    }

    &__metric-text {
        margin: auto;
        text-align: center;
        .font('Raleway-Regular', 18px, 200, normal);
    }
}
